app:
  cost: 10
  frontend_url: "http://localhost:8080"

server:
  scheme: http
  port: 5000
  domain: localhost

psql:
  host: localhost
  port: 5432
  user: postgres
  pass: postgres
  dbname: pk-portal
  sslmode: disable
  schema: public
  blacklist: schema_migrations
  max_idle_conns: 50
  max_open_conns: 50

smtp:
  address: "user1@pkportaldev.space"
  host: "mail.pkportaldev.space"
  port: "587"
  password: "Gxtkjtl03@"
